backports.shutil-get-terminal-size==1.0.0
decorator==4.3.0
enum34==1.1.6
ipython==5.8.0
ipython-genutils==0.2.0
nltk==3.2.5
numpy==1.15.3
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
PyYAML==3.13
scandir==1.9.0
scikit-learn==0.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
torch==0.3.1
traitlets==4.3.2
wcwidth==0.1.7
